p,ul,li{
  margin: 0;
  padding:0;
}
#myorder{
    height: 600px;
    overflow: auto;
    .orderlist{
        list-style: none;
        padding-left: 10px;
        display: flex;
        width: 100%;
        margin-bottom:20px;
        border-bottom:1px solid #dcdcdc;
        padding-bottom:15px;
    }
    .orderlist li{
        display: flex;
    }
    .orderlist .pro-info{
        width: 35%;
    }
    .orderlist li img{
        width:80px;
        height:80px;
    }
    .shop-info{
        padding-left:15px;
    }
    .shop-info p{
        margin-bottom:15px;
        font-size:12px;
    }
    .pro-common-li{
        width: 15%;
    }
    .pro-common-li p{
        font-size:12px;
    }
    .orderlist li:last-child{
        display: block;
    }
    .order-infos-wrap{
        display: flex;
        margin-top: 20px;
        width:100%;
        flex-direction: column;
    }
    .order-infos-wrap img{
        width: 300px;
        margin-right:20px;
    }
    .order-infos{
        width:100%;
        display: block;
    }
    .order-infos p{
        width:100%;
        display: flex;
        justify-content: space-between;
        margin-bottom:12px;
    }
    .order-infos .span-left{
        color: #333;
        font-size: 13px;
    }
    .order-infos .span-right{
        color: #333;
        font-size: 12px;
    }
    .order-pro-info{
        display: flex;
        flex-direction: column;
        width: 100%;
        height:100%;
    }
    .order-user-info{
        margin-top: 20px;
    }
    .order-user-info p{
        color: #333;
        width: 53%;
        display: flex;
        justify-content: space-between;
        margin-bottom:15px;
    }
    .order-user-info p .span-left{
        color: #333;
        font-size: 13px;
    }
    .order-user-info p .span-right{
        color: #333;
        font-size: 12px;
    }
    .el-card__body{
        display: flex;
    }
    .footer-page{
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 0;
    }
    .footer-page p{
        font-size: 12px;
        color: #333;
    }
    .el-tab-pane{
        height: 600px;
        overflow: auto;
    }
}
